In [29]:
merged_df=pd.read_csv('Merge_data.csv')

In [30]:
merged_df

,type,status,departure.iataCode,departure.icaoCode,departure.terminal,departure.scheduledTime,departure.estimatedTime,departure.actualTime,departure.estimatedRunway,departure.actualRunway,...,Humidity Max,Humidity Avg,Humidity Min,Wind Speed Max,Wind Speed Avg,Wind Speed Min,Pressure Max,Pressure Avg,Pressure Min,Total
0,departure,active,lhe,opla,m,2023-07-20 20:50:00,2023-07-20t20:00:00.000,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,...,89,76.0,63,12,5.3,0,28.9,28.8,28.7,0.0
1,departure,active,lhe,opla,NaN,2023-07-18 15:05:00,2023-07-18t15:05:00.000,NaN,NaN,NaN,...,84,73.8,63,17,10.2,0,28.8,28.8,28.7,0.0
2,departure,active,lhe,opla,NaN,2023-07-23 09:50:00,NaN,NaN,NaN,NaN,...,83,71.2,56,14,8.1,0,29.0,28.9,28.8,0.0
3,departure,active,lhe,opla,m,2023-07-26 23:30:00,2023-07-26t23:30:00.000,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,...,100,77.4,59,17,8.1,0,28.9,28.9,28.8,0.0
4,departure,active,lhe,opla,m,2023-07-20 11:35:00,2023-07-20t17:15:00.000,NaN,NaN,NaN,...,89,76.0,63,12,5.3,0,28.9,28.8,28.7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51567,departure,active,lhe,opla,NaN,2023-11-16 09:50:00,2023-11-16t09:50:00.000,2023-11-16t10:03:00.000,2023-11-16t10:03:00.000,2023-11-16t10:03:00.000,...,89,81.0,70,21,10.4,5,28.8,28.8,28.8,0.0
51568,departure,active,lhe,opla,m,2023-11-16 11:40:00,2023-11-16t11:40:00.000,2023-11-16t11:48:00.000,2023-11-16t11:48:00.000,2023-11-16t11:48:00.000,...,89,81.0,70,21,10.4,5,28.8,28.8,28.8,0.0
51569,departure,active,lhe,opla,m,2023-11-27 10:50:00,2023-11-27t14:35:00.000,NaN,NaN,NaN,...,100,83.7,70,16,7.5,0,28.9,28.9,28.8,0.0
51570,departure,active,lhe,opla,m,2023-11-19 02:00:00,2023-11-19t11:00:00.000,NaN,NaN,NaN,...,100,85.3,75,23,11.3,0,28.8,28.8,28.7,0.0
51571,departure,active,lhe,opla,m,2023-11-23 06:30:00,2023-11-23t06:30:00.000,2023-11-23t06:47:00.000,2023-11-23t06:47:00.000,2023-11-23t06:47:00.000,...,83,71.2,56,14,8.1,0,29.0,28.9,28.8,0.0

In [31]:
# Ensure both columns are in datetime format
merged_df['departure.actualTime'] = pd.to_datetime(merged_df['departure.actualTime'])
merged_df['departure.scheduledTime'] = pd.to_datetime(merged_df['departure.scheduledTime'])

# Calculate the delay in Timedelta format
merged_df['delay'] = merged_df['departure.actualTime'] - merged_df['departure.scheduledTime']

# Convert delay to minutes
merged_df['delay_in_minutes'] = merged_df['delay'].dt.total_seconds() / 60

# View the resulting dataframe
merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00             -35.0
1         2023-07-18 15:05:00                  NaT               NaN
2         2023-07-23 09:50:00                  NaT               NaN
3         2023-07-26 23:30:00  2023-07-26 23:51:00              21.0
4         2023-07-20 11:35:00                  NaT               NaN
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00              13.0
51568     2023-11-16 11:40:00  2023-11-16 11:48:00               8.0
51569     2023-11-27 10:50:00                  NaT               NaN
51570     2023-11-19 02:00:00                  NaT               NaN
51571     2023-11-23 06:30:00  2023-11-23 06:47:00              17.0

[51572 rows x 3 columns]

In [33]:
# Convert delay (timedelta) to minutes
merged_df['delay_in_minutes'] = merged_df['delay'].dt.total_seconds() / 60

# Replace negative values with 0
merged_df.loc[merged_df['delay_in_minutes'] < 0, 'delay_in_minutes'] = 0


merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00               0.0
1         2023-07-18 15:05:00                  NaT               NaN
2         2023-07-23 09:50:00                  NaT               NaN
3         2023-07-26 23:30:00  2023-07-26 23:51:00              21.0
4         2023-07-20 11:35:00                  NaT               NaN
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00              13.0
51568     2023-11-16 11:40:00  2023-11-16 11:48:00               8.0
51569     2023-11-27 10:50:00                  NaT               NaN
51570     2023-11-19 02:00:00                  NaT               NaN
51571     2023-11-23 06:30:00  2023-11-23 06:47:00              17.0

[51572 rows x 3 columns]

In [34]:
merged_df['delay_in_minutes']=merged_df['delay_in_minutes'].fillna(merged_df['delay_in_minutes'].mean())
merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00          0.000000
1         2023-07-18 15:05:00                  NaT         13.484576
2         2023-07-23 09:50:00                  NaT         13.484576
3         2023-07-26 23:30:00  2023-07-26 23:51:00         21.000000
4         2023-07-20 11:35:00                  NaT         13.484576
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00         13.000000
51568     2023-11-16 11:40:00  2023-11-16 11:48:00          8.000000
51569     2023-11-27 10:50:00                  NaT         13.484576
51570     2023-11-19 02:00:00                  NaT         13.484576
51571     2023-11-23 06:30:00  2023-11-23 06:47:00         17.000000

[51572 rows x 3 columns]

In [35]:
# data = {'departure.scheduledTime':[]}
# df=pd.DataFrame(data)
merged_df['departure.scheduledTime'] = pd.to_datetime(merged_df['departure.scheduledTime'])

# Extract temporal features
merged_df['day_of_week'] = merged_df['departure.scheduledTime'].dt.day_name()  # e.g., Monday, Tuesday
merged_df['hour_of_day'] = merged_df['departure.scheduledTime'].dt.hour         # e.g., 14, 8
merged_df['month_of_year'] = merged_df['departure.scheduledTime'].dt.month_name()  # e.g., December

# Display the resulting DataFrame
print(df)

          Time  Temp Max  Temp Avg  Temp Min  Dew Point Max  Dew Point Avg  \
Jul 1    Jul 1        97      88.8        81             77           74.5
Jul 2    Jul 2        99      91.5        82             79           75.8
Jul 3    Jul 3       102      91.7        77             81           77.0
Jul 4    Jul 4        97      88.5        81             77           74.3
Jul 5    Jul 5        86      76.0        68             79           72.9
...        ...       ...       ...       ...            ...            ...
Mar 27  Mar 27        88      82.9        75             79           77.1
Mar 28  Mar 28        93      86.3        81             79           76.7
Mar 29  Mar 29        84      80.3        75             79           75.2
Mar 30  Mar 30        93      85.6        75             77           75.5
Mar 31  Mar 31        97      90.0        82             79           76.0

        Dew Point Min  Humidity Max  Humidity Avg  Humidity Min  \
Jul 1              72            74          63.4            47
Jul 2              75            79          61.3            47
Jul 3              73           100          63.7            45
Jul 4              73            79          64.0            47
Jul 5              68           100          90.2            70
...               ...           ...           ...           ...
Mar 27             73           100          83.7            70
Mar 28             75            89          73.8            59
Mar 29             73            94          85.1            79
Mar 30             73            94          73.3            56
Mar 31             75            79          64.3            50

        Wind Speed Max  Wind Speed Avg  Wind Speed Min  Pressure Max  \
Jul 1               14             8.9               5          28.8
Jul 2               12             6.7               0          28.8
Jul 3               35            11.0               0          28.8
Jul 4               32            13.0               0          28.8
Jul 5               40            15.0               5          28.8
...                ...             ...             ...           ...
Mar 27              16             7.5               0          28.9
Mar 28              13             7.4               0          28.8
Mar 29              25             8.7               0          28.8
Mar 30               9             3.2               0          28.8
Mar 31              12             5.2               0          28.8

        Pressure Avg  Pressure Min  Total
Jul 1           28.8          28.7    0.0
Jul 2           28.8          28.7    0.0
Jul 3           28.8          28.7    0.0
Jul 4           28.7          28.6    0.0
Jul 5           28.8          28.7    0.0
...              ...           ...    ...
Mar 27          28.9          28.8    0.0
Mar 28          28.8          28.7    0.0
Mar 29          28.8          28.7    0.0
Mar 30          28.8          28.7    0.0
Mar 31          28.7          28.7    0.0

[366 rows x 17 columns]

In [139]:

df_encoded = pd.get_dummies(merged_df, columns=['status','type','month_of_year','day_of_week','hour_of_day','airline.name',
       'airline.iataCode', 'airline.icaoCode', 'flight.number',
       'flight.iataNumber', 'flight.icaoNumber',])
df_encoded

,departure.iataCode,departure.icaoCode,departure.terminal,departure.scheduledTime,departure.estimatedTime,departure.actualTime,departure.estimatedRunway,departure.actualRunway,arrival.iataCode,arrival.icaoCode,...,flight.icaoNumber_uae8619,flight.icaoNumber_uae8621,flight.icaoNumber_uzp5401,flight.icaoNumber_uzp5405,flight.icaoNumber_vjt762,flight.icaoNumber_voz6098,flight.icaoNumber_voz6173,flight.icaoNumber_voz6174,flight.icaoNumber_voz6203,flight.icaoNumber_vsv850
0,lhe,opla,m,2023-07-20 20:50:00,2023-07-20t20:00:00.000,2023-07-20 20:15:00,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,ruh,oerk,...,0,0,0,0,0,0,0,0,0,0
1,lhe,opla,NaN,2023-07-18 15:05:00,2023-07-18t15:05:00.000,NaT,NaN,NaN,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
2,lhe,opla,NaN,2023-07-23 09:50:00,NaN,NaT,NaN,NaN,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
3,lhe,opla,m,2023-07-26 23:30:00,2023-07-26t23:30:00.000,2023-07-26 23:51:00,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,kwi,okkk,...,0,0,0,0,0,0,0,0,0,0
4,lhe,opla,m,2023-07-20 11:35:00,2023-07-20t17:15:00.000,NaT,NaN,NaN,dxb,omdb,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51567,lhe,opla,NaN,2023-11-16 09:50:00,2023-11-16t09:50:00.000,2023-11-16 10:03:00,2023-11-16t10:03:00.000,2023-11-16t10:03:00.000,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
51568,lhe,opla,m,2023-11-16 11:40:00,2023-11-16t11:40:00.000,2023-11-16 11:48:00,2023-11-16t11:48:00.000,2023-11-16t11:48:00.000,jed,oejn,...,0,0,0,0,0,0,0,0,0,0
51569,lhe,opla,m,2023-11-27 10:50:00,2023-11-27t14:35:00.000,NaT,NaN,NaN,dxb,omdb,...,0,0,0,0,0,0,0,0,0,0
51570,lhe,opla,m,2023-11-19 02:00:00,2023-11-19t11:00:00.000,NaT,NaN,NaN,kul,wmkk,...,0,0,0,0,0,0,0,0,0,0
51571,lhe,opla,m,2023-11-23 06:30:00,2023-11-23t06:30:00.000,2023-11-23 06:47:00,2023-11-23t06:47:00.000,2023-11-23t06:47:00.000,jed,oejn,...,0,0,0,0,0,0,0,0,0,0

In [140]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize=['Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']
scaler = MinMaxScaler()

# Apply normalization
df_encoded[columns_to_normalize] = scaler.fit_transform(df_encoded[columns_to_normalize])

In [141]:
# Map 'on-time' to 0 and 'delayed' to 1
for index, i in enumerate(merged_df['delay_in_minutes']):
#     print('ppp: ', i)
    if i == 0.0:
        merged_df.loc[index, 'delay_status'] = 1
    else:
        merged_df.loc[index, 'delay_status'] = 0

# Split data into training and testing
from sklearn.model_selection import train_test_split

X = df_encoded[['type_departure', 'month_of_year_April', 'month_of_year_August',
       'month_of_year_December', 'month_of_year_February',
       'month_of_year_January', 'month_of_year_July', 'month_of_year_June',
       'month_of_year_March', 'month_of_year_May', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'hour_of_day_0', 'hour_of_day_1', 'hour_of_day_2', 'hour_of_day_3',
       'hour_of_day_4', 'hour_of_day_5', 'hour_of_day_6', 'hour_of_day_7',
       'hour_of_day_8', 'hour_of_day_9', 'hour_of_day_10', 'hour_of_day_11',
       'hour_of_day_12', 'hour_of_day_13', 'hour_of_day_14', 'hour_of_day_15',
       'hour_of_day_16', 'hour_of_day_17', 'hour_of_day_18', 'hour_of_day_19',
       'hour_of_day_20', 'hour_of_day_21', 'hour_of_day_22', 'hour_of_day_23','status_unknown','status_cancelled','status_active','Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']]
y = merged_df['delay_status']
y=y.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [136]:
binary_classifier = RandomForestClassifier(random_state=42)
binary_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [138]:
y_valid_pred = binary_classifier.predict(X_test)
print("Validation Accuracy:", accuracy_score(y_test, y_valid_pred))
print("Classification Report on Validation Data:\n", classification_report(y_test, y_valid_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_valid_pred))

ValueError: Found input variables with inconsistent numbers of samples: [10315, 41257]

In [165]:
test_df=pd.read_csv('Merge_data_test.csv')

In [166]:
test_df

,type,status,departure.iataCode,departure.icaoCode,departure.scheduledTime,departure.estimatedRunway,departure.actualRunway,arrival.iataCode,arrival.icaoCode,arrival.scheduledTime,...,Wind Speed Min,Pressure Max,Pressure Avg,Pressure Min,Total,delay,delay_in_minutes,day_of_week,hour_of_day,month_of_year
0,departure,active,lhe,opla,2023-07-17 20:35:00,2023-07-17t20:46:00.000,2023-07-17 20:46:00,khi,opkc,2023-07-17t22:20:00.000,...,0,28.8,28.8,28.7,0.0,0 days 00:11:00,11.000000,Monday,20,July
1,departure,active,lhe,opla,2023-07-27 08:00:00,NaN,NaN,ruh,oerk,2023-07-27t10:00:00.000,...,0,28.9,28.9,28.8,0.0,NaN,13.372743,Thursday,8,July
2,departure,active,lhe,opla,2023-07-27 08:00:00,NaN,NaN,dxb,omdb,2023-07-27t10:00:00.000,...,0,28.9,28.9,28.8,0.0,NaN,13.372743,Thursday,8,July
3,departure,unknown,lhe,opla,2023-07-28 16:45:00,NaN,NaN,jed,oejn,2023-07-28t20:30:00.000,...,0,28.8,28.8,28.7,0.0,NaN,13.372743,Friday,16,July
4,departure,active,lhe,opla,2023-07-19 04:15:00,2023-07-19t04:18:00.000,2023-07-19 04:18:00,auh,omaa,2023-07-19t06:35:00.000,...,0,28.8,28.8,28.7,0.0,0 days 00:03:00,3.000000,Wednesday,4,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14905,departure,active,lhe,opla,2023-11-23 23:15:00,2023-11-23t23:27:00.000,2023-11-23 23:27:00,shj,omsj,2023-11-24t02:05:00.000,...,0,29.0,28.9,28.8,0.0,0 days 00:12:00,12.000000,Thursday,23,November
14906,departure,active,lhe,opla,2023-11-25 18:45:00,2023-11-25t19:05:00.000,2023-11-25 19:05:00,jed,oejn,2023-11-25t22:05:00.000,...,0,28.9,28.9,28.8,0.0,0 days 00:20:00,20.000000,Saturday,18,November
14907,departure,active,lhe,opla,2023-11-25 02:55:00,2023-11-25t03:07:00.000,2023-11-25 03:07:00,doh,othh,2023-11-25t05:05:00.000,...,0,28.9,28.9,28.8,0.0,0 days 00:12:00,12.000000,Saturday,2,November
14908,departure,active,lhe,opla,2023-11-27 08:35:00,NaN,NaN,doh,othh,2023-11-27t10:45:00.000,...,0,28.9,28.9,28.8,0.0,NaN,13.372743,Monday,8,November
14909,departure,active,lhe,opla,2023-11-26 01:45:00,NaN,NaN,ika,oiie,2023-11-26t04:15:00.000,...,0,28.9,28.9,28.8,0.0,NaN,13.372743,Sunday,1,November

In [168]:

df_encoded_test = pd.get_dummies(test_df, columns=['status','type','month_of_year','day_of_week','hour_of_day','airline.name',
       'airline.iataCode', 'airline.icaoCode', 'flight.number',
       'flight.iataNumber', 'flight.icaoNumber'])
df_encoded_test.columns

Index(['departure.iataCode', 'departure.icaoCode', 'departure.scheduledTime',
       'departure.estimatedRunway', 'departure.actualRunway',
       'arrival.iataCode', 'arrival.icaoCode', 'arrival.scheduledTime',
       'arrival.estimatedTime', 'departure.terminal',
       ...
       'flight.icaoNumber_uae613', 'flight.icaoNumber_uae615',
       'flight.icaoNumber_uae623', 'flight.icaoNumber_uae625',
       'flight.icaoNumber_uae8619', 'flight.icaoNumber_uae8621',
       'flight.icaoNumber_voz6098', 'flight.icaoNumber_voz6173',
       'flight.icaoNumber_voz6174', 'flight.icaoNumber_vsv850'],
      dtype='object', length=1972)

In [169]:
test_X = df_encoded_test[['type_departure', 'month_of_year_April', 'month_of_year_August',
       'month_of_year_December', 'month_of_year_February',
       'month_of_year_January', 'month_of_year_July', 'month_of_year_June',
       'month_of_year_March', 'month_of_year_May', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'hour_of_day_0', 'hour_of_day_1', 'hour_of_day_2', 'hour_of_day_3',
       'hour_of_day_4', 'hour_of_day_5', 'hour_of_day_6', 'hour_of_day_7',
       'hour_of_day_8', 'hour_of_day_9', 'hour_of_day_10', 'hour_of_day_11',
       'hour_of_day_12', 'hour_of_day_13', 'hour_of_day_14', 'hour_of_day_15',
       'hour_of_day_16', 'hour_of_day_17', 'hour_of_day_18', 'hour_of_day_19',
       'hour_of_day_20', 'hour_of_day_21', 'hour_of_day_22', 'hour_of_day_23','status_unknown','status_cancelled','status_active','Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']]

# Predict delay status on the test dataset
test_pred = binary_classifier.predict(test_X)

In [170]:
test_pred_labels = ["on-time" if pred == 0 else "delayed" for pred in test_pred]

In [174]:
submission_df = pd.DataFrame({
    'ID': range(1, len(test_pred) + 1),  # Replace 'ID' with the identifier column in the test dataset
    'Delay': test_pred_labels  # Predicted delay status (0 or 1)
})
sahal=submission_df[:12914]

In [175]:
sahal.to_csv("submission_binary.csv", index=False)
print("Submission file created: submission_binary.csv")

Submission file created: submission_binary.csv

In [176]:
sahal['Delay'].value_counts()

on-time    12914
Name: Delay, dtype: int64